<div class='container-fluid sticky-area'>
  {{ range . }}
  <div class='col-md-4'>
	<p>{{.Tags}}</p>
	<p>{{.Note}}</p>
	<p>{{.CreatedAt.Format "2006-01-02 3:04PM"}}</p>
  </div>
  {{ end }}
  <div class='col-md-4'>
	<h3><button class="btn btn-primary" data-toggle="modal" data-target="#addNote" >Add Note</button></h3>
  </div>

</div>

<div class="modal fade" id="addNote" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
	<div class="modal-content">

	  <form role='form' action='/create' method='POST'>
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title" id="myModalLabel">Add new note</h4>
		</div>

		<div class="modal-body">
		  <div class='form-group'>
			<label for='tags'>Tags</label>
			<input type='text' name='tags' class='form-control' placeholder='Tags (separated by commas)' autofocus>
		  </div>
		  <div class='form-group .col-xs-4'>
			<label for='note'>Description</label>
			<textarea name='note' class="form-control" rows='4' placeholder="Note"></textarea>
		  </div>
		</div>

		<div class="modal-footer">
		  <input class="btn btn-default btn-primary" type="submit" Value='Add'/>
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	  </form>
	</div>
  </div>
</div>
